<!-- <!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark border-bottom border-secondary">
    <div class="container">
        <a class="navbar-brand" href="/">VirtualLab</a>
        <div class="navbar-nav">
            <a class="nav-link" href="/index.html">Home</a>
            <a class="nav-link" href="/pages/about.html">About</a>
        </div>
    </div>
</nav> -->

<nav class="navbar navbar-dark bg-dark shadow-sm mb-4">
    <div class="container">
        <span class="navbar-brand mb-0 h1 fw-bold">PICT Quantum Physics Virtual Lab</span>
        <a href="../../index.html" class="btn btn-outline-light btn-sm fw-bold">Home Page</a>
    </div>
</nav> -->
